{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h1>ICY Trips</h1>
    <a href="{{ login_url }}">Login</a> | <a href="{{ signup_url }}">Signup</a>
    <ul>
        {% for trip in trips %}
            <li>
                <h2>
                    <a href="{% url 'show_trip' trip.id %}">{{ trip.title }}</a>
                </h2>
                <img src="{{ trip.picture }}" alt="Trip Picture">
                <p>{{ trip.description }}</p>
                <p>{{ trip.location }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
